**/.git
**/.github
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/artifacts
**/Data/*.db
**/Data/*.db-shm
**/Data/*.db-wal
**/Data/DataProtectionKeys
.dotnet
.nuget
.templateengine
*.user
*.suo
*.log
Dockerfile
README.md
docs
