bin/
obj/
artifacts/
**/artifacts/
.vs/
.vscode/
.idea/
.dotnet/
.nuget/
.templateengine/

*.user
*.suo
*.db
*.db-shm
*.db-wal
*.log

src/**/Data/*.db
src/**/Data/*.db-shm
src/**/Data/*.db-wal
src/**/Data/DataProtectionKeys/
